* {
    box-sizing: border-box;
}

.App {
    /* text-align: center; */
    background: linear-gradient(180deg, #2147BB 0%, #0D7DCA 100%);
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%); */
    height: 100%;
    color: white;
}

.a {
    /* border: 1px solid black; */
}

.fa {
    color: white;
}

.temHeading {
    /* font-size: 24px; */
    font-size: calc(2.875rem + 1.5vw);
    font-weight: bold;
    color: white;
}

.fas {
    font-size: 160px;
    color: 'white'
}

@media (max-width: 568px) {
    .d-flex {
        min-width: 333px !important;
    }
    .fas {
        font-size: 120px;
        color: white;
    }
    .temHeading {
        font-size: calc(1.875rem + 1.5vw);
        font-weight: bold;
    }
    .temHeading2 {
        font-size: 18px;
    }
}

.forBorder {
    border-right: 2px solid white;
}

@media (max-width: 996px) {
    .forBorder {
        border-right: none;
        border-bottom: 2px solid white;
    }
}

.suggestion {
    cursor: pointer;
    /* border-right: 1px solid white; */
    /* border-left: 1px solid white; */
    border-bottom: 1px solid #ccc;
    color: #1D53BE;
    background-color: white;
    border-radius: 5px;
}

.suggestion:hover {
    color: white;
    background-color: #1D53BE;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}


/* @media (max-width: 568px) {
  .row{
    min-width: 568px !important;
    display: flex;
    flex-direction: row !important;
  }
  .col-sm-4{
    flex-direction: column !important;
    min-width: 568px !important;
  }
} */