* {
    box-sizing: border-box;
}

.App {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #2147BB 0%, #0D7DCA 100%);
    background-size: 100%;
    height: 100%;
    width: 100%;
    color: white;
}

.a {
    /* border: 1px solid black; */
}

.fa {
    color: white;
}

.temHeading {
    /* font-size: 24px; */
    font-size: calc(2.875rem + 1.5vw);
    font-weight: 500;
    color: white;
}
.fas{
    color: white;
}
.fa-sun-o, .fa-cloud {
    font-size: 160px;
    color: 'white'
}

@media (max-width: 568px) {
    .d-flex {
        min-width: 333px !important;
    }
    .fa-sun-o, .fa-cloud {
        font-size: 120px;
        color: white;
    }
    .temHeading {
        font-size: calc(1.875rem + 1.5vw);
        font-weight: 500;
    }
    .temHeading2 {
        font-size: 18px;
    }
    .sm-screen-heading{
        /* padding-top: 0 !important; */
        padding-bottom: 0 !important ;
    }
    .sm-screen-border{
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
    
}
h5{
    font-weight: bold;
}

span{
    font-weight: 100 !important;
}

.forBorder {
    border-right: 2px solid white;
}

@media (max-width: 996px) {
    .forBorder {
        border-right: none;
        border-bottom: 2px solid white;
    }
}

.suggestion {
    cursor: pointer;
    /* border-right: 1px solid white; */
    /* border-left: 1px solid white; */
    border-bottom: 1px solid #ccc;
    color: #1D53BE;
    background-color: white;
    border-radius: 5px;
}

.suggestion:hover {
    color: white;
    background-color: #1D53BE;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}


/* @media (max-width: 568px) {
  .row{
    min-width: 568px !important;
    display: flex;
    flex-direction: row !important;
  }
  .col-sm-4{
    flex-direction: column !important;
    min-width: 568px !important;
  }
} */